<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaulthref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>Enums Basic</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
      <ion-card text center>
        <ion-card-header>
          My Object Data ( TestData )
        </ion-card-header>
        <ion-card-content>
  
          <ion-list>
            <ion-item>
              <ion-label floating>TestEnum</ion-label>
              <ion-select [(ngModel)]="data.getTestEnum"> 
                <ion-select-option *ngFor="let entry of testEnum | keys" value="{{ entry.key }}">{{ entry.name }}</ion-select-option>
              </ion-select>
            </ion-item>            
            <ion-item>
              <ion-label floating>TestEnumInt</ion-label>
              <ion-select [(ngModel)]="data.getTestEnumInt"> 
                <ion-select-option *ngFor="let entry of testEnumInt | keys" value="{{ entry.key }}">{{ entry.name }}</ion-select-option>
              </ion-select>
            </ion-item>            
          </ion-list>
      
          <ion-button fill="outline" (click)="updateItem()">Update Item</ion-button>
          <ion-button fill="outline" (click)="showItem()">Show Item</ion-button>
  
        </ion-card-content>
      </ion-card>
  
      <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-title>DEVELOPER NOTES</ion-card-title>
          </ion-card-header>
          <ion-card-content>
    
            <markdown [src]="'/assets/enums1.md'" ngPreserveWhitespaces>
            </markdown>
          
          </ion-card-content>
        </ion-card>
      
  </ion-content>
  