<ion-tabs>

  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="start">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="markdown">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Markdown</ion-label>
    </ion-tab-button>
      
    <ion-tab-button tab="create">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>
          
    <ion-tab-button tab="update">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Update</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="enums">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Enums</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="validate">
      <ion-icon name="send"></ion-icon>
      <ion-label>Validation</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
