<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaulthref="/"></ion-back-button>
      </ion-buttons>
      <ion-title>UPDATE Data Item, with Forms Validation</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
      
      <!-- Our form-wide error message -->
      <p *ngIf="!this.mainForm.valid && submitAttempt" style="color: var(--ion-color-danger);">Please fill out all details accurately.</p>

      <form [formGroup]="mainForm">
    
      <ion-card text center>
        <ion-card-header>
          My Object Data ( TestData )
        </ion-card-header>
        <ion-card-content>
  
          <ion-list>
            
            <ion-item>
              <ion-label floating>Enum</ion-label>
              <ion-select formControlName="testEnumCtl" [(ngModel)]="data.getTestEnum"> 
                <ion-select-option *ngFor="let entry of testEnum | keys" value="{{ entry.key }}">{{ entry.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isInvalid('testEnumCtl')" style="color: var(--ion-color-danger);">
              <p>Please select a valid option.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>Enum (Integer)</ion-label>
              <ion-select formControlName="testEnumIntCtl" [(ngModel)]="data.getTestEnumInt"> 
                <ion-select-option *ngFor="let entry of testEnumInt | keys" value="{{ entry.key }}">{{ entry.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item *ngIf="isInvalid('testEnumIntCtl')" style="color: var(--ion-color-danger);">
                <p>Please select a valid option.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>Numeric</ion-label>
              <ion-input formControlName="numCtl" type="number" [(ngModel)]="data.num"></ion-input>
            </ion-item>
            <ion-item *ngIf="isInvalid('numCtl')" style="color: var(--ion-color-danger);">
                <p>Please enter a valid number, between 10 and 20, or leave blank.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>String</ion-label>
              <ion-input formControlName="nameCtl" type="text" [(ngModel)]="data.name"></ion-input>
            </ion-item>
            <ion-item *ngIf="isInvalid('nameCtl')" style="color: var(--ion-color-danger);">
                <p>Names is invalid in one or more ways, see below.</p>
            </ion-item>
            <ion-item *ngIf="isInvalid('nameCtl', 'required')" style="color: var(--ion-color-danger);">
                <p>Name is required.</p>
            </ion-item>
            <ion-item *ngIf="isInvalid('nameCtl', 'pattern')" style="color: var(--ion-color-danger);">
                <p>Names must consist of letters only.</p>
            </ion-item>
            <ion-item *ngIf="isInvalid('nameCtl', 'minlength')" style="color: var(--ion-color-danger);">
                <p>Names must be more than 5 characters in length.</p>
            </ion-item>
            <ion-item *ngIf="isInvalid('nameCtl', 'maxlength')" style="color: var(--ion-color-danger);">
                <p>Names must be less than 15 characters in length.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>Date (UTC)</ion-label>
              <ion-datetime formControlName="dateCtl" [(ngModel)]="data.date"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="isInvalid('dateCtl')" style="color: var(--ion-color-danger);">
                <p>Please select a valid option.</p>
            </ion-item>

            <ion-item>
              <ion-label floating>Boolean</ion-label>
              <ion-toggle formControlName="boolCtl" [(ngModel)]="data.bool"></ion-toggle>
            </ion-item>
            <ion-item *ngIf="isInvalid('boolCtl')" style="color: var(--ion-color-danger);">
                <p>Must be yes.</p>
            </ion-item>

          </ion-list>
      
          <ion-button fill="outline" (click)="updateItem()">Update Item</ion-button>
          <ion-button fill="outline" (click)="showItem()">Show Item</ion-button>
          <ion-button fill="outline" (click)="validate()">Validate</ion-button>
          <ion-button fill="outline" (click)="reset()">Reset</ion-button>
  
        </ion-card-content>
      </ion-card>
  
      <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-title>DEVELOPER NOTES</ion-card-title>
        </ion-card-header>
        <ion-card-content>
  
          <markdown [src]="'/assets/validate.md'" ngPreserveWhitespaces>
          </markdown>
        
        </ion-card-content>
      </ion-card>
  
      </form>
        
  </ion-content>
  